# You must include all these env vars in your
# Lambda Configuration -> Enviornment variables

PRODUCT_IMAGE_CALLBACK_SECRET_NAME=
PRODUCT_SERVICE_BASE_URL=
THUMBNAIL_BUCKET_NAME=
THUMBNAIL_SIZE_WIDTH=