PROJECT_NAME=tender-chops

# =========================
# Keycloak Admin
# =========================
KEYCLOAK_ADMIN=<KEYCLOAK_ADMIN>
KEYCLOAK_ADMIN_PASSWORD=<KEYCLOAK_ADMIN_PASSWORD>

# =========================
# Keycloak DB
# =========================
KEYCLOAK_DB_NAME=<KEYCLOAK_DB_NAME>
KEYCLOAK_DB_USER=<KEYCLOAK_DB_USER>
KEYCLOAK_DB_PASSWORD=<KEYCLOAK_DB_PASSWORD>
KEYCLOAK_HOST=<KEYCLOAK_HOST>
# do not change this or else the realm json won't work
KEYCLOAK_REALM=tender-chops-test

# =========================
# Product DB
# =========================
PRODUCT_DB_HOST=<PRODUCT_DB_HOST>
PRODUCT_DB_NAME=<PRODUCT_DB_NAME>
PRODUCT_DB_USER=<PRODUCT_DB_USER>
PRODUCT_DB_PASSWORD=<PRODUCT_DB_PASSWORD>

# =========================
# Cart DB
# =========================
CART_DB_HOST=<CART_DB_HOST>
CART_DB_NAME=<CART_DB_NAME>
CART_DB_USER=<CART_DB_USER>
CART_DB_PASSWORD=<CART_DB_PASSWORD>

# =========================
# Inventory DB
# =========================
INVENTORY_DB_HOST=<INVENTORY_DB_HOST>
INVENTORY_DB_NAME=<INVENTORY_DB_NAME>
INVENTORY_DB_USER=<INVENTORY_DB_USER>
INVENTORY_DB_PASSWORD=<INVENTORY_DB_PASSWORD>

# =========================
# Order DB
# =========================
ORDER_DB_HOST=<ORDER_DB_HOST>
ORDER_DB_NAME=<ORDER_DB_NAME>
ORDER_DB_USER=<ORDER_DB_USER>
ORDER_DB_PASSWORD=<ORDER_DB_PASSWORD>

# =========================
# Payment DB
# =========================
PAYMENT_DB_HOST=<PAYMENT_DB_HOST>
PAYMENT_DB_NAME=<PAYMENT_DB_NAME>
PAYMENT_DB_USER=<PAYMENT_DB_USER>
PAYMENT_DB_PASSWORD=<PAYMENT_DB_PASSWORD>

# =========================
# Keycloak Client IDs
# =========================
KEYCLOAK_PRODUCT_SERVICE_CLIENT_ID=<KEYCLOAK_PRODUCT_SERVICE_CLIENT_ID>
KEYCLOAK_CART_SERVICE_CLIENT_ID=<KEYCLOAK_CART_SERVICE_CLIENT_ID>
KEYCLOAK_ORDER_SERVICE_CLIENT_ID=<KEYCLOAK_ORDER_SERVICE_CLIENT_ID>
KEYCLOAK_PAYMENT_SERVICE_CLIENT_ID=<KEYCLOAK_PAYMENT_SERVICE_CLIENT_ID>

# =========================
# Keycloak Client Secrets
# =========================
KEYCLOAK_PRODUCT_SERVICE_SECRET=<KEYCLOAK_PRODUCT_SERVICE_SECRET>
KEYCLOAK_CART_SERVICE_SECRET=<KEYCLOAK_CART_SERVICE_SECRET>
KEYCLOAK_ORDER_SERVICE_SECRET=<KEYCLOAK_ORDER_SERVICE_SECRET>
KEYCLOAK_PAYMENT_SERVICE_SECRET=<KEYCLOAK_PAYMENT_SERVICE_SECRET>

# =========================
# Stripe
# =========================
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SIGNING_SECRET=<STRIPE_WEBHOOK_SIGNING_SECRET>

# =========================
# AWS
# =========================
AWS_PROFILE=<AWS_PROFILE>
AWS_REGION=<AWS_REGION>
AWS_SHARED_CREDENTIALS_FILE=/root/.aws/credentials
AWS_CONFIG_FILE=/root/.aws/config

# LAMBDA
AWS_LAMBDA_IMAGE_PROCESSOR_SECRET=<AWS_LAMBDA_IMAGE_PROCESSOR_SECRET>

# S3
AWS_S3_MEDIA_BASE_URL=<AWS_S3_MEDIA_BASE_URL>
AWS_S3_ORIGINAL_IMAGE_BUCKET_NAME=<AWS_S3_ORIGINAL_IMAGE_BUCKET_NAME>
AWS_S3_THUMBNAIL_IMAGE_BUCKET_NAME=<AWS_S3_THUMBNAIL_IMAGE_BUCKET_NAME>

# SNS TOPICS
AWS_SNS_PRODUCT_EVENTS_TOPIC_ARN=<AWS_SNS_PRODUCT_EVENTS_TOPIC_ARN>
AWS_SNS_INVENTORY_EVENTS_TOPIC_ARN=<AWS_SNS_INVENTORY_EVENTS_TOPIC_ARN>
AWS_SNS_ORDER_EVENTS_TOPIC_ARN=<AWS_SNS_ORDER_EVENTS_TOPIC_ARN>
AWS_SNS_PAYMENT_EVENTS_TOPIC_ARN=<AWS_SNS_PAYMENT_EVENTS_TOPIC_ARN>

# SQS QUEUES
AWS_SQS_PRODUCT_INVENTORY_QUEUE_URL=<AWS_SQS_PRODUCT_INVENTORY_QUEUE_URL>

AWS_SQS_INVENTORY_PRODUCT_QUEUE_URL=<AWS_SQS_INVENTORY_PRODUCT_QUEUE_URL>
AWS_SQS_INVENTORY_ORDER_QUEUE_URL=<AWS_SQS_INVENTORY_ORDER_QUEUE_URL>
AWS_SQS_INVENTORY_PAYMENT_QUEUE_URL=<AWS_SQS_INVENTORY_PAYMENT_QUEUE_URL>

AWS_SQS_ORDER_PAYMENT_QUEUE_URL=<AWS_SQS_ORDER_PAYMENT_QUEUE_URL>

AWS_SQS_PAYMENT_ORDER_QUEUE_URL=<AWS_SQS_PAYMENT_ORDER_QUEUE_URL>