# =========================
# Keycloak Admin
# =========================
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# =========================
# Keycloak DB
# =========================
KEYCLOAK_DB_NAME=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=
KEYCLOAK_HOST=
KEYCLOAK_REALM=

# =========================
# Product DB
# =========================
PRODUCT_DB_HOST=
PRODUCT_DB_NAME=
PRODUCT_DB_USER=
PRODUCT_DB_PASSWORD=

# =========================
# Cart DB
# =========================
CART_DB_HOST=
CART_DB_NAME=
CART_DB_USER=
CART_DB_PASSWORD=

# =========================
# Inventory DB
# =========================
INVENTORY_DB_HOST=
INVENTORY_DB_NAME=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=

# =========================
# Order DB
# =========================
ORDER_DB_HOST=
ORDER_DB_NAME=
ORDER_DB_USER=
ORDER_DB_PASSWORD=

# =========================
# Payment DB
# =========================
PAYMENT_DB_HOST=
PAYMENT_DB_NAME=
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=

# =========================
# Keycloak Client IDs
# =========================
KEYCLOAK_PRODUCT_SERVICE_CLIENT_ID=
KEYCLOAK_CART_SERVICE_CLIENT_ID=
KEYCLOAK_ORDER_SERVICE_CLIENT_ID=
KEYCLOAK_PAYMENT_SERVICE_CLIENT_ID=

# =========================
# Keycloak Client Secrets
# =========================
KEYCLOAK_PRODUCT_SERVICE_SECRET=
KEYCLOAK_CART_SERVICE_SECRET=
KEYCLOAK_ORDER_SERVICE_SECRET=
KEYCLOAK_PAYMENT_SERVICE_SECRET=

# =========================
# Keycloak Token & JWK URI
# =========================
# Example: http://<your-keycloak-url>/realms/<your-realm>/protocol/openid-connect/token
KEYCLOAK_TOKEN_URI=
# Example: http://<your-keycloak-url>/realms/<your-realm>/protocol/openid-connect/certs
KEYCLOAK_JWK_SET_URI=

# =========================
# Stripe
# =========================
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SIGNING_SECRET=

# =========================
# AWS
# =========================
AWS_PROFILE=
AWS_REGION=
AWS_SHARED_CREDENTIALS_FILE=
AWS_CONFIG_FILE=

AWS_LAMBDA_IMAGE_PROCESSOR_SECRET=

AWS_S3_MEDIA_BASE_URL=
AWS_S3_ORIGINAL_IMAGE_BUCKET_NAME=
AWS_S3_THUMBNAIL_IMAGE_BUCKET_NAME=

AWS_SNS_ORDER_EVENTS_TOPIC_ARN=
AWS_SNS_PAYMENT_EVENTS_TOPIC_ARN=

AWS_SQS_ORDER_PAYMENT_QUEUE_URL=
AWS_SQS_PAYMENT_ORDER_QUEUE_URL=

# =========================
# Service base url
# =========================
# Example: http://product-service:8080/api/v1 (docker)
PRODUCT_SERVICE_BASE_URL=
CART_SERVICE_BASE_URL=
INVENTORY_SERVICE_BASE_URL=
ORDER_SERVICE_BASE_URL=
PAYMENT_SERVICE_BASE_URL=